# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
ws_client.html
/release
digest.txtplaywright-report
test-results
*.pem
*.pfx
/Keys
/build/win
/build
playwright-report/index.html
.jules
*.pycoverage/
*.py
coverage/
/src/lib/components/icons/svg


tmp/jscpd/jscpd-report.json
DuplicationReport.txt
screenshots/
